.ui.selection.dropdown .menu.noscrolling {
    overflow: hidden;
    max-height: none;
}
  
.ui.selection.dropdown .menu .buttons {
    display: flex;
    width: auto;
    margin: 7px;
}
.search> .input{
    width: 100%;
}

.search > .input {
    width: 100%;
}

#search-box {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}