body {
	padding-top: 70px !important;
}

#logo {
	height: 5vh;
}

.navbar-default {
	background-color: white;
}

.container {
	padding-bottom: 5px;
	padding-top: 5px;
}

@media only screen and (max-width : 768px) {
	#logo-link {
		display: inline-block;
		margin-top: 8px;
		margin-bottom: 8px;
	}
}