#logo {
	height: 50px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: rgb(163, 243, 255);
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.navbar {
	margin-bottom: 0;
}

.navbar-toggle {
	margin-top: 16px;
	margin-bottom: 16px;
}

.navbar-default {
	background-color: white;
}

.container {
	padding-bottom: 5px;
	padding-top: 5px;
}

@media only screen and (max-width : 768px) {
	#logo-link {
		display: inline-block;
		margin-top: 8px;
		margin-bottom: 8px;
	}

}