<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>
	
<div class="footer_wapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
		    	<div class="copyright">
		        	<span>Copyright@2017____TCNM_____PDF ONLINE</span>
		        </div>
		       </div>
		    <div class="col-md-6">
		    	 <div class="social-list-block">
		                    <ul>
		                        <li><a class="facebook" href="#">facebook</a>
		                        </li>
		                        <li><a class="pintrest" href="#">pintrest</a>
		                        </li>
		                        <li><a class="google" href="#">google</a>
		                        </li>
		                        <li><a class="twitter" href="#">twitter</a>
		                        </li>
		                        <li><a class="linkedin" href="#">linkedin</a>
		                        </li>
		                    </ul>
		        </div>
		    </div>
		   
		</div>
		</div>
	</div>
</body>
</html>